body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* CARD */

.card-title {
    color: hsl(218, 44%, 22%);
}

.card-body {
    color: hsl(220, 15%, 55%);
}

.qr-code,
.card-text {
    width: 100%;
}

#qr-image {
    width: 100%;
    border-radius: 3vh;
}

/* BREAKPOINTS */

.card {
    display: flex;
    flex-direction: column;
    width: 65%;
    text-align: center;
    background-color: white;
    border-radius: 3vh;
    padding: 1.5vh;
    box-shadow: 10px 10px 10px hsl(212, 45%, 89%);
}

@media (min-width:640px) {
    .card {
        width: 40%;
    }
}

@media (min-width:900px) {
    .card {
        width: 20%;
    }
}

@media (min-width:1800px) {
    .card {
        width: 10%;
    }
}
